
#Hover_Highlight{
    
}

#Navigation_Bar{
  position: relative;
  display: flex;
  top: 2rem;
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: red;
  height: 1rem;
  width: 1rem;
  left: calc(50% - 0.5rem);
  margin-bottom: 8rem;
  background-color: red;
  transform: translateY(20vh);
  filter: opacity(0);
  animation: Fade_In_Dynamic_Menu 2s forwards;
  animation-delay: 2s;
}

:root{
  --Moon_Height: 5.2rem;
  --Minimum_Window_Dimension: 10vw;
  --Minimum_Font_Size: max(var(--Minimum_Window_Dimension),40px);
  --Maximum_Font_Size: min(var(--Minimum_Font_Size),100px);
}

@keyframes Fade_In_Dynamic_Menu {
  0%{transform: translateY(calc(var(--Maximum_Font_Size))); filter: opacity(0);}
  50%{transform: translateY(calc(var(--Maximum_Font_Size))); filter: opacity(0);}
  100%{transform: translateY(0); filter: opacity(1);}
}

#Shader{
  display: flex;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, #060D20 0%, rgba(217, 217, 217, 0) 100%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;  
  z-index: 99;
}

.Expand_Overlay{
  transform: translateX(0rem) translateY(0rem);
}

.Menu_Button{
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: 1fr;
  position: absolute;
  height: var(--Moon_Height); 
  width: var(--Moon_Height); 
  box-sizing: border-box;
  padding: 1.3rem 1.1rem 1.3rem 1.1rem;
  background-color: rgb(225,225,225);
  border-radius: 10000rem;
  z-index: 100;
  margin-top: 3.8rem;
  transform: rotate(0deg);
  transition: 0.5s;
  transform-origin: center;
  transform: rotate(-97deg) scale(1.5);
}

.Rotate_Menu_Button{
    animation: Expand 0.5s ease-in-out forwards;
}

.Reverse_Rotate_Menu_Button{
    animation: Shrink 0.5s ease-in-out forwards;
}

@keyframes Expand{
  0%{width: var(--Moon_Height); transform: rotate(-97deg) scale(1.5);}
  20%{width: var(--Moon_Height); transform: rotate(0deg) scale(1);}
  75%{width: var(--Moon_Height); transform: rotate(0deg) scale(1);}
  90%{width: calc(3.1*var(--Tile_Width)); transform: rotate(0deg) scale(1);}
  94%{width: calc(2.95*var(--Tile_Width)); transform: rotate(0deg) scale(1);}
  98%{width: calc(3.02*var(--Tile_Width)); transform: rotate(0deg) scale(1);}
  100%{width: calc(3.2*var(--Tile_Width)); transform: rotate(0deg) scale(1);}
}

@keyframes Shrink{
  0%{width: calc(3.2*var(--Tile_Width)); transform: rotate(0deg);}
  35%{width: var(--Moon_Height); transform: rotate(0deg);}
  80%{width: var(--Moon_Height); transform: rotate(0deg);}
  100%{width: var(--Moon_Height); transform: rotate(-97deg) scale(1.5);}
}

.Circle_Mask{
  position: absolute;
  border-radius: 100%;
  --Diameter: calc(0.65*var(--Moon_Height));
  left: calc(50% - var(--Diameter)/2);
  top: calc(105% - var(--Diameter));
  height: var(--Diameter);
  width: var(--Diameter);
  background-color: #070D20;
  transform: rotate(0deg);
  transition: 0.2s;
  transition-delay: 0.2s; 
}

.Hide_Background_Mask{
  transform: scale(0);
  transition-delay: 0.15s;
}

.Show_Background_Mask{
  transform: scale(1);
  transition-delay: 0.15s;
}

#Menu_Button > label{
  background-color: rgba(20, 41, 81, 1);
  border-radius: 100000rem;
}

.Fade_In_Menu{
  animation: Fade_In_Menu_Keyframes 1s ease forwards;
}

.Fade_Out_Menu{
  animation: Fade_Out_Menu_Keyframes 1s ease forwards;
}

@keyframes Fade_In_Menu_Keyframes {
  0%{filter: opacity(0);}
  50%{filter: opacity(0);}
  100%{filter: opacity(1);}
}

@keyframes Fade_Out_Menu_Keyframes {
  0%{filter: opacity(1);}
  10%{filter: opacity(0);}
  100%{filter: opacity(0);}
}

#Menu_Frame{
  position: absolute;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 0.2rem;
  padding: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.2rem solid rgb(225,225,225);
  box-sizing: border-box;
  border-radius: 1000rem;
  filter: opacity(0);
  overflow: hidden;
  font-family: Arial;
  font-weight: bold;
}

.Menu_Links{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: rgb(21,32,64);
  --Minimum_Window_Dimension: 2vw;
  --Minimum_Font_Size: max(var(--Minimum_Window_Dimension),0.2rem);
  --Maximum_Font_Size: min(var(--Minimum_Font_Size),1.2rem);
  font-size: var(--Maximum_Font_Size);
  border-radius: 1000rem;
}



