
#Dock{
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10,10%);
  background-color: rgba(255,255,255,0.4);
  bottom: 0;
  --Dock_Width: min(calc(80vw),40em);
  width: var(--Dock_Width);
  height: var(--Height);
  left: calc(50% - var(--Dock_Width)/2);
  bottom: 0.3em;
  padding: calc(0.015*var(--Dock_Width));
  padding-left: calc(0.015*var(--Dock_Width)/2);
  padding-right: calc(0.015*var(--Dock_Width)/2);
  border-radius: calc(0.035*var(--Dock_Width));
  -webkit-backdrop-filter: blur(30em), saturate(500%);
}

.App_Icons{
  --Dock_Width: min(calc(80vw),40em);
  left: calc(50% - var(--Width)/2);
  position: relative;
  display: flex;
  --Width: calc(100% - 0.015*var(--Dock_Width));
  width: var(--Width);
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: white;
  border-radius: calc(0.018*var(--Dock_Width));
  box-shadow: 0 calc(0.003*var(--Dock_Width)) calc(0.005*var(--Dock_Width)) 0 rgba(0,0,0,0.1);
}

#Background{
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* background-image: url("../../Assets/Monterey.jpg"); */
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(205,205,217,1);
}











