#Menu_Bar{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6em 5fr 2em 6em 6em 9em;
  position: fixed;
  top: 0;
  color: black;
  height: 2em;
  width: 100vw;
  background-color: rgba(225,225,232,1);
  -webkit-backdrop-filter: blur(30em), saturate(500%);
  font-family: Arial;
  font-weight: bold;
  font-size: 0.8em;
}

.Menu_Bar_Buttons{
  display: flex;
  /* background-color: rgba(0,0,0,0.1); */
  text-align: center;
  color: rgba(0,0,0,0.7);
  height: 100%;
  font-size: 0.8em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  font-weight: normal;
}

.Menu_Bar_Buttons:nth-child(1){
  font-weight: bold;
}

#Network_Button{
  background-image: url("../../Assets/WIFI.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;

}


.Menu_Bar_Buttons:hover{
  background-color: rgba(205,205,217,1);
  cursor: default;

}
