
@keyframes Fade_In_Keyframes{
  0%{transform: translateY(100vh) scale(0.5); filter: opacity(0);}
  50%{transform: translateY(0vh) scale(0.5); filter: opacity(0.5);}
  100%{transform: translateY(0vh) scale(1); filter: opacity(1);}
}