
:root{
  --Margin: 3vw;
  --Absolute_Minimum_Size: 200px;
  --Absolute_Maximum_Size: calc(100vh - 2*var(--Margin));
  --Animation_Delay: 1s;
}

#Main_Card{
  position: absolute;
  top: var(--Margin);
  --Constraining_Dimension: min(100vw,100vh);
  --Minimum_Length: max(var(--Constraining_Dimension),var(--Absolute_Minimum_Size));
  --Size: min(calc(var(--Minimum_Length) - 2 * var(--Margin)),var(--Absolute_Maximum_Size));
  height: var(--Size);
  width: var(--Size);
  min-height: var(--Absolute_Minimum_Size)
  background-color: black;
  top: max(calc(50% - var(--Size)/2),var(--Margin));
  left: max(calc(50% - var(--Size)/2),var(--Margin));
  border-radius: calc(0.028*var(--Size));
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 calc(var(--Size)*0.005) calc(var(--Size)*0.1) calc(var(--Size)*0.003) rgba(0,0,0,0.2), 
              inset 0 calc(var(--Size)*0.001) calc(var(--Size)*0.001) calc(var(--Size)*0.002) rgba(255,255,255,0.1);;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr 0.5fr 0.4fr 1fr 1fr 1fr 1fr;
  z-index: 5;
  filter: opacity(0);
  transform: translateY(100vh) scale(0.5);
  animation: Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 0.2s);
  overflow: hidden;
}

#Username_Handle{
  filter: opacity(0);
  transform: scale(0.7);
  animation: Simple_Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 0.8s);
}

#Bio{
  font-weight: lighter;
  color: rgba(255,255,255,0.4);
  filter: opacity(0);
  transform: scale(0.7);
  animation: Simple_Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 0.8s);
}

.Containers{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  /* border: 0.1px solid black; */
  font-size: calc(0.03*var(--Size));
  color: rgba(255,255,255,0.9);
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1);
  transition: 0.2s;
}

.Containers:nth-child(2){
  align-items: flex-end;
}

.Links{
  display: flex;
  height: calc(100% - 0.02*var(--Size));
  width: calc(100% - 0.2*var(--Size));
  border-radius: calc(0.015*var(--Size));
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  filter: opacity(0);
  transform: scale(0.7);
}

#Link_1{
  animation: Simple_Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 1.2s);
  transform: scale(1);
  cursor: pointer;
}

#Link_2{
  animation: Simple_Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 1.4s);
  transform: scale(1);
  cursor: pointer;
}

#Link_3{
  animation: Simple_Fade_In_Keyframes 0.5s ease forwards;
  animation-delay: calc(var(--Animation_Delay) + 1.6s);
  transform: scale(1);
  cursor: pointer;
}

.Containers:nth-child(5):hover{
  transform: scale(1.03);
}
.Containers:nth-child(6):hover{
  transform: scale(1.03);
}
.Containers:nth-child(7):hover{
  transform: scale(1.03);
}

#Profile_Image{
  --Scaling_Factor: 0.27;
  --Diameter: calc(var(--Size)*var(--Scaling_Factor));
  position: relative;
  height: var(--Diameter);
  width: var(--Diameter);
  top: calc(50% - var(--Diameter)/2 + var(--Margin)/2);
  background-color: white;
  border-radius: 100%;
  background-image: url("../Assets/Starry Starlight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  filter: opacity(1);
  box-shadow: inset 0 calc(var(--Size)*0.005) calc(var(--Size)*0.005) calc(var(--Size)*0.003) rgba(0,0,0,0.35);
  border: calc(var(--Size)*0.014) solid #244992;
  animation: Twist_Fade_In_Keyframes 0.8s ease-in forwards;
  animation-delay: calc(var(--Animation_Delay) + 1.2s);
  filter: opacity(0);
  transform: rotate(380deg) scale(0.8);
}

#Share_Button{
  --Share_Button_Margin: calc(0.02*var(--Size));
  --Diameter: calc(var(--Scaler)*var(--Size));
  top: var(--Share_Button_Margin);
  left: calc(100% - var(--Share_Button_Margin) - var(--Diameter));
  background-color: rgba(0,0,0,0.1);
  --Scaler: 0.1;
  position: absolute;
  height: var(--Diameter);
  width: var(--Diameter);
  border: none;
  outline: none;
  border-radius: calc(0.02*var(--Size));
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-image: url("../Assets/Share_Icon.svg");
  
}
