
html{
  margin: 0;
  font-family: Arial;
  color: white;
  font-weight: bold;
}

body{
  margin: 0px;  
  background-color: #244992;
}

#Background{
  position: fixed;
  height: calc(100vh + 20px);
  width: 100vw;
  background-color: #244992;
  background-image: linear-gradient(180deg, #244992 0%, #00E1E1 97.4%);
  background-repeat: no-repeat;
  background-size: 200vw 100vh;
  background-position: center;
  margin: 0;
}

#Background_2{
  position: absolute;
  top:0;
  background-color: none;
  --Constraining_Dimension: 100vw;  
  --Minimum_Length: max(var(--Constraining_Dimension),200px);
  --Size: calc(var(--Minimum_Length) - 2 * var(--Margin));
  height: calc(var(--Size) + 2 * var(--Margin));
  width: calc(var(--Size) + 2 * var(--Margin));
  z-index: 2;
}



