
  .About_Card{
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    grid-template-rows: 4fr repeat(10,1fr) 2fr;
  }

  .About_Details{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.7em;
      grid-column: 2 / span 2;
  }

  #About_Card_Title{
    display: flex;
    align-items: flex-end;
    grid-column: 2 / span 2;
    font-size: 1.3em;
  }

  #Image_Container{
    grid-column: 1 / span 1;
    grid-row: 1 / span 12;
  }

.Detail_Buttons{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    border: 0.1em solid gray;
    border-radius: 0.2em;
    margin-right: 2em;
    left: 0;
}
