
.Notification_Center_Card{
  position: absolute;
  color: black;
  height: 20em;
  width: 18em;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0.5em;
  top: 2.3em;
  right: 0.3em;
  z-index: 1;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  transform: translateX(18em);
  opacity: 0;
  transition: 0.2s;
}

.Show_Notification_Center_Card{
  transform: translateX(0);
  opacity: 1;
  transition: 0.2s;
}

.About_Card{
  position: absolute;
  color: black;
  --Height: 18em;
  --Width: 32em;
  height: var(--Height);
  width: var(--Width);  
  top: calc(50% - var(--Height)/2 - 1.5em);
  left: calc(50% - var(--Width)/2);
  background-color: rgba(255,255,255,0.4);
  border-radius: 0.5em;
  z-index: 1;
  -webkit-backdrop-filter: blur(3em);
  backdrop-filter: blur(3em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  opacity: 0;
  transform: scale(0);
  transition: 0.2s;
  font-size: min(2vw,20px);
}

.Show_About_Card{
  opacity: 1;
  transform: scale(1);
  transition: 0.2s;
}

.Network_Card{
  display: grid;
  grid-template-rows: 2.5em 0.535em 1.5em 2em 2em 0.535em 1.5em 0.535em 1.5em;
  grid-template-columns: repeat(10,1fr);
  position: absolute;
  color: black;
  height: 12.84em;
  width: 14em;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0.5em;
  top: 2.3em;
  right: 1.3em;
  z-index: 1;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  transform: translateX(18em);
  opacity: 0;
  transition: 0.2s;
  overflow: hidden;
  transition: 0.2s;
}

.Network_Card_Collapsed{
  height: 2.5em;
  height: 12.84em;

  
}

.Show_Network_Card{
  transform: translateX(0);
  opacity: 1;
  transition: 0.2s;
}

.Battery_Card{
  position: absolute;
  color: black;
  height: 9em;
  width: 13em;
  background-color: rgba(255,255,255,0.4);
  /* background-color: red; */
  border-radius: 0.5em;
  top: 2.3em;
  right: 0.3em;
  z-index: 1;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  transform: translateX(18em);
  opacity: 0;
  transition: 0.2s;
}

.Show_Battery_Card{
  transform: translateX(0);
  opacity: 1;
  transition: 0.2s;
}

.Date_Card{
  position: absolute;
  color: black;
  height: calc(100vh - 2em);
  width: 22em;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0em;
  top: 2em;
  right: 0em;
  z-index: 1;
  -webkit-backdrop-filter: blur(300em);
  backdrop-filter: blur(300em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  transform: translateX(20em);
  opacity: 0;
  transition: 0.2s ease-out;
  -webkit-mask: -webkit-gradient(linear,right 5%,left 5%,from(rgba(255, 255, 255, 1)),to(rgba(255, 255, 255, 0)));
}

.Show_Date_Card{
  transform: translateX(0);
  opacity: 1;
  transition: 0.2s;
}








