
.Widgets_Card,.Widgets_Glass_Background{
  display: grid;
  --Spacing: 0.9em;
  grid-gap: var(--Spacing);
  padding: var(--Spacing);
  box-sizing: border-box;
  grid-template-rows: repeat(5,10em);
  grid-template-columns: repeat(2,10em);
  position: absolute;
  color: black;
  height: calc(100vh - 2em);
  border-radius: 0em;
  top: 2em;
  right: 0em;
  z-index: 1;
  transform: translateX(25em);
  transition: 0.2s ease-out;
  z-index: 20;
  overflow: scroll;
  z-index: 20;
}

.Widgets_Glass_Background{
  width: 22em;
  background-color: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(300em);
  backdrop-filter: blur(300em);
  box-shadow: 0em 0.1em 0.5em 0.01em rgba(0,0,0,0.1);
  -webkit-mask: -webkit-gradient(linear,right 5%,left 5%,from(rgba(255, 255, 255, 1)),to(rgba(255, 255, 255, 0)));
  opacity: 1;
  z-index: 19;
  transform: translateX(20em);
  transition: 0.2s ease-out;
}

.Show_Widgets_Card{
  transform: translateX(0);
  opacity: 1;
  transition: 0.2s;
}

.Widget_Blocks{
  background-color: rgba(255,255,255,1);
  border-radius: 1em;  
}

#Activity_Bands_Widget{
    grid-column: 1 / span 2;
}




